.history .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all 0.2s;
    padding: 0;
}

.history .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.history .vertical-timeline {
    width: 100%;
    position: relative;
    padding: 1.5rem 0 1rem;
}

.history .vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 90px;
    height: 100%;
    width: 4px;
    background: #e9ecef;
    border-radius: 0.25rem;
}

.history .vertical-timeline-element {
    position: relative;
    margin: 0 0 1rem;
    text-align: left;
}
body.rtl .history .vertical-timeline-element {
    text-align: right;
}

.history .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
    visibility: visible;
    animation: cd-bounce-1 0.8s;
}

.history .vertical-timeline-element-icon {
    position: absolute;
    top: 0;
    left: 82px;
}

.history .vertical-timeline-element-icon .badge-dot-xl {
    box-shadow: 0 0 0 5px #fff;
}

.history .badge-dot-xl {
    width: 18px;
    height: 18px;
    position: relative;
}

.history .badge:empty {
    display: none;
}

.history .badge-dot-xl::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 0.25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    background: #fff;
}

.history .vertical-timeline-element-content {
    position: relative;
    margin-left: 110px;
    font-size: 0.8rem;
}

.history .vertical-timeline-element-content .timeline-title {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0 0 0.5rem;
    padding: 2px 0 0;
    font-weight: bold;
}

.history .vertical-timeline-element-content .vertical-timeline-element-date {
    display: block;
    position: absolute;
    left: -100px;
    top: 0;
    padding-right: 10px;
    text-align: center;
    color: #adb5bd;
    font-size: 0.7619rem;
    white-space: nowrap;
}

.history .vertical-timeline-element-content:after {
    content: "";
    display: table;
    clear: both;
}
body.rtl .history .vertical-timeline::before {
    right: 90px;
    left: auto;
}

body.rtl .history .vertical-timeline-element-icon {
    right: 82px;
    left: auto;
}

body.rtl .history .vertical-timeline-element-content {
    margin-right: 110px;
    margin-left: auto;
}

body.rtl .history .vertical-timeline-element-content .vertical-timeline-element-date {
    right: -100px;
    left: auto;
    padding-left: 10px;
    padding-right: auto;
}